{% extends "base.html" %}

{% block main_img %}
<div class="container ">
    <div class="main-img col-12 my-5">
        <div class="text-center">
            {% load static %}
            <img src="{% static 'blog/img/img.jpg' %}" class="img-fluid" alt="">
        </div>

    </div>
    {% endblock %}

    {% block content %}


    <div class="row  my-4">
        {% for post in posts %}
        <div class="col-sm-3 ">
            <div class="card ">
<!--                {% if post.img %}-->
<!--                <img src="{% static 'blog/img/trol.jpg' %}" class="card-img-top" alt="">-->
                <img src="{{ post.img.url }}" class="card-img-top" alt="">
<!--                {% else %}-->
<!--                <img src="{% static 'blog/img/trol.jpg' %}" class="card-img-top" alt="">-->
<!--                {% endif %}-->
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.description}}</p>
                    <a href="{{post.get_absolute_url}}" class="btn btn-outline-primary rounded-0 float-end">Читать далее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}

</div>

